* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: crimson;
}
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
}
